@media (max-width: 992px) {
    body, html {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    header {
        width: 100%;
        height: 100%;
        background: url(../img/fundo02.png) no-repeat center fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
    }

    div#header-abertura {
        width: 90%;
        margin: auto;
        color: white;
        text-align: center;
        font-size: 1em;
    }

    div#header-abertura h1 {
        font-family: 'OSD-SANS';
        margin-top: 0;
    }

    div#header-abertura p {
        font-size: 0.8em;
    }

    div#header-abertura span.material-symbols-outlined {
        font-size: 1.2em;
        color: #FF0F7B;
        animation-name: salto;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    /*FINAL HEADER-ABERTURA*/

    div#header-chamada {
        color: #FF0F7B;
        text-align: center;
        text-transform: uppercase;
        font-size: 1em;
        margin-bottom: 10px;
        animation-name: mudancaCor;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    div#header-chamada h3 {
        margin-bottom: 0;
    }

    /*FINAL HEADER-CHAMADA*/

    article {
        width: 100%;
        height: 100%;
    }

    section#resumo {
        width: 100%;
        box-sizing: border-box;
    }

    div#perfil {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div#perfil img {
        width: 150px;
        margin-top: 10px;
        border-radius: 100%;
    }

    div#perfil h3 {
        font-family: 'OSD-SANS', monospace;
        font-size: 0.9em;
        margin-bottom: 0;
    }

    div#perfil p {
        margin-top: 0;
    }

    div#perfil a {
        margin-top: 20px;
        padding: 10px 50px;
        background-color: #000123;
        color: #fff;
        font-size: 0.9em;
    }

    div#perfil a:hover {
        box-shadow: 0px 0px 1px 3px #5E17EB;
    }

    div#perfil a:active {
        opacity: 0.8;
    }

    /*FINAL PERFIL*/

    div#sobre-mim {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        background-color: #EDF0F2;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    div#sobre-mim h3 {
        font-family: 'OSD-SANS', monospace;
    }

    div#sobre-mim p {
        width: 90%;
        font-size: 1em;
    }

    div#sobre-mim ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 20px;
    }

    div#sobre-mim ul li a {
        display: block;
        padding: 10px 30px;
        background-color: #000123;
        color: #fff;
        font-size: 0.9em;
    }

    div#sobre-mim ul li a:hover {
        box-shadow: 0px 0px 1px 3px #5E17EB;
    }

    div#sobre-mim ul li a:active {
        opacity: 0.8;
    }

    /*FINAL SOBRE-MIM*/

    section.container-projeto {
        width: 100%;
        background: url(../img/fundo01.png) no-repeat center fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #fff;
    }

    section.fundo2 {
        background: url(../img/fundo02.png) no-repeat center fixed;
        background-size: cover;
    }

    section.container-projeto h1 {
        font-family: 'OSD-SANS', monospace;
    }

    section.container-projeto h3 {
        font-family: 'OSD-SANS', monospace;
        font-size: 0.8em;
        margin-bottom: 30px;
    }

    section.container-projeto p {
        font-size: 0.8em;
        color: yellow;
    }

    section.container-projeto ul li {
        font-size: 0.8em;
    }

    div.projeto {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        line-height: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div.projeto h1 {
        font-size: 1em;
    }

    div.projeto img {
        width: 100%;
        height: 50%;
        border-radius: 10px;
    }

    div.detalhes {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    div.detalhes a {
        display: block;
        margin: 20px;
        padding: 8px 30px;
        color: #000;
        font-size: 0.8em;
        background-color: #fff;
        border-radius: 10px;
        animation-name: corRosa;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}